:root {
  color-scheme: light;
  /* Colors */
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgb(64 63 61 / 80%);

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  /* Typography  */
  --font-size-h1: 4.5rem;
  --font-size-h2: 3.75rem;
  --font-size-h3: 1.5rem;
  --font-size-regular: 1rem;
  --font-size-small: 0.625rem;

  --line-height-standard: 150%;
  --line-height-button-small: 140%;
  --line-height-title: 125%;
  --line-height-h1: 105%;

  --font-weight-standard: 400;
  --font-weight-bold: 600;

  /* Spacing */
  --indent-standard: 2.5rem;
  --indent-half: 1.25rem;
  --indent-small: 1rem;
  --indent-section: 6.25rem;
  --indent-button: 4.875rem;
  --indent-button-small: 0.75rem; /*12px*/
  --indent-gap: 0.75rem;
  --indent-icon-gap: 0.5rem;
  --indent-gap-small: 0.125rem;
  --indent-icon: 1.063rem; /*17px*/

  /* Radius */
  --radius-big: 6.25rem; /*100px*/
  --radius-standard: 2.5rem; /*40px*/
  --radius-half: 1.25rem; /*20px*/

  /* Components */
  --size-card: 30rem;
  --size-slider-button: 3.75rem;
  --size-dot-gap: 0.75rem; /*12px*/
  --size-dot-width: 2.5rem;
  --size-dot-height: 0.25rem;

  --size-about-width: 41.25rem;
  --size-about-big-height: 36.875rem;
  --size-about-small-height: 26.875rem;
  --size-button-icon: 2.25rem;
  --size-social-icon: 1.5rem; /*24px*/
  --size-icon-standard: 1.5rem; /*24px*/
  --size-icon-small: 1.25rem; /*20px*/

  --max-width-button: 12.5rem;
  --max-width-container: 85rem;
}

[data-theme="dark"] {
  color-scheme: dark;

  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: rgb(41 40 38 / 80%);

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  border: 0;
}

body {
  display: block;
  margin: 0;
  padding: 0 var(--indent-standard);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-standard);
  font-style: normal;
  line-height: var(--line-height-standard);
  color: var(--text-primary);
  background-color: var(--bg-page);
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--indent-half);
  margin-bottom: var(--indent-small);
  color: var(--text-primary);
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 3.75rem;
}

/* Navigation */
.nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: var(--indent-standard);
}

.nav__link {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  text-decoration: none;
  line-height: var(--line-height-standard);
  transition: color 0.3s ease-in;
}


/* Button */
.button {
  display: inline-block;
  border: none;
  padding: var(--indent-half) var(--indent-button);
  background-color: var(--bg-page);
  border-radius: var(--radius-big);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-regular);
  color: var(--text-primary);
}

/* Title */
.title {
  margin: 0;
  margin-bottom: var(--indent-standard);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-bold);
}

.title--highlight {
  color: var(--text-accent);
  font-style: italic;
}

.title--menu {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

/* Section */
.section {
  margin-bottom: var(--indent-section);
}

/* Hero Section */
.hero {
  display: flex;
  padding: var(--indent-section);
  background-color: var(--bg-container);
  background-image: url("../assets/img/img-hero.jpg");
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-standard);
}

.hero__content {
  display: flex;
  max-width: 40%;
  min-width: 33rem;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-inverse);
}

.hero__title {
  margin: 0;
  margin-bottom: var(--indent-standard);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

.hero__title--highlight {
  color: var(--text-accent);
  font-style: italic;
}

.hero__description {
  margin: 0;
  margin-bottom: var(--indent-standard);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-standard);
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
}

.slider-nav {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.slider-nav__button {
  width: var(--size-slider-button);
  height: var(--size-slider-button);
  border: 1px solid var(--border-inverse);
  background-color: var(--bg-page);
  border-radius: 50%;
  cursor: pointer;
}

.slider-track {
  margin-bottom: var(--indent-half);
}

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-card__picture {
  width: var(--size-card);
  height: var(--size-card);
}

.slider-card__image-wrapper {
  width: var(--size-card);
  height: var(--size-card);
  margin-bottom: var(--indent-half);
  overflow: hidden;
}

.slider-card__title {
  margin: 0;
  margin-bottom: var(--indent-small);
  max-width: var(--size-card);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-bold);
}

.slider-card__price {
  margin: 0;
  max-width: var(--size-card);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-bold);
}

.slider-card__description {
  margin: 0;
  margin-bottom: var(--indent-small);
  max-width: var(--size-card);
  text-align: center;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-standard);
  line-height: var(--line-height-standard);
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: var(--size-dot-gap);
}

.slider-dot {
  position: relative;
  width: var(--size-dot-width);
  height: var(--indent-half);
  border: none;
  background: none;
  cursor: pointer;
}

.slider-dot::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: var(--size-dot-width);
  height: var(--size-dot-height);
  border-radius: var(--radius-big);
  background-color: var(--border-primary);
  transform: translate(-50%, 50%);
}

.slider-dot[aria-current="true"]::before {
  background-color: var(--border-inverse);
}

.coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* about */
.about__pictures {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: 
    var(--size-about-small-height) 
    calc(
      var(--size-about-big-height)
      - var(--size-about-small-height)
      - var(--indent-standard)
    )
    var(--size-about-small-height);
  gap: var(--indent-standard);
  margin: 0;
  padding: 0;
}

.about__picture-wrapper {
  overflow: hidden;
  border-radius: var(--radius-half);
}

.about__picture-wrapper--big-top {
  grid-column: 1;
  grid-row: 1 / 3;
}

.about__picture-wrapper--small-top {
  grid-column: 2;
  grid-row: 1;
}

.about__picture-wrapper--small-bottom {
  grid-column: 1;
  grid-row: 3;
}

.about__picture-wrapper--big-bottom {
  grid-column: 2;
  grid-row: 2 / 4;
}

.about__picture {
  display: block;
  width: 100%;
  height: 100%;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.1;
}


/*mobile*/
.mobile {
  display: flex;
  align-items: center;
  gap: var(--indent-section);
  width: 100%;
}

.mobile__content {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - var(--indent-section)/2);
}

.mobile__description {
  margin: 0;
  margin-bottom: var(--indent-standard);
}

.mobile__links {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--indent-half);
}

.mobile__link-container {
  width: calc(50% - var(--indent-half) / 2);
  max-width: var(--max-width-button);
}

.mobile__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--indent-gap-small);
  width: 100%;
  max-width: var(--max-width-button);
  padding: var(--indent-button-small);
  padding-left: calc(var(--indent-half) + var(--size-button-icon) + var(--indent-icon-gap));
  border: 1px solid var(--border-inverse);
  border-radius: var(--radius-big);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-standard);
  color: var(--text-primary);
}

.mobile__link-svg {
  position: absolute;
  left: var(--indent-half);
  width: var(--size-button-icon);
  height: var(--size-button-icon);
}

.mobile__link-text--small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-button-small);
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  background-color: var(--bg-container);
  margin-bottom: var(--indent-standard);
  padding: var(--indent-section);
  border-radius: var(--radius-standard);
  color: var(--text-inverse);
  gap: var(--indent-section);
}

.footer__social {
  width: calc(50% - var(--indent-section) / 2);
}

.footer__contact {
  width: calc(50% - var(--indent-section) / 2);
}

.footer__title {
  margin: 0;
  margin-bottom: var(--indent-standard);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: var(--indent-half);
  font-style: normal;
  margin-bottom: var(--indent-half);
}

.footer-address__item,
.footer-time {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: calc(var(--indent-half) + var(--indent-icon-gap));
  font-size: var(--font-size-regular);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  color: var(--text-inverse);
}

.footer-address__item::before,
.footer-time::before {
  position: absolute;
  content: '';
  display: block;
  width: var(--size-icon-small);
  height: var(--size-icon-small);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.footer-address__item--location::before {
  background-image: url(../assets/img/icons/pin-alt.svg);
}

.footer-address__item--tel::before {
  background-image: url(../assets/img/icons/phone.svg);
}

.footer-time::before {
  background-image: url(../assets/img/icons/clock.svg);
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--indent-button-small);
}

.social-links__item {
  display: block;
}

.social-links__a {
  display: block;
  padding: var(--indent-icon);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-big);
}

.social-links__icon {
  display: block;
  width: var(--size-social-icon);
  height: var(--size-social-icon);
}

.social-links__path {
  stroke: var(--text-inverse);
}

/*menu-tabs*/
.menu-tabs {
  display: flex;
  gap: var(--indent-small);
  justify-content: center;
  margin-bottom: var(--indent-standard);
}

.menu-tabs__item {
  display: flex;
  padding: 8px;
  padding-right: calc(8px * 2);
  gap: 8px;
  align-items: center;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-big);
  background: none;
  color: var(--text-primary);
  cursor: pointer;
}

.menu-tabs__item[aria-selected="true"] {
  background-color: var(--bg-container);
  color: var(--text-inverse);
}

.menu-tabs__icon {
  display: block;
  width: 27px;
  height: 27px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--border-primary);
  
}

.menu-tabs__item[aria-selected="true"] .menu-tabs__icon {
  background-color: var(--bg-page);
}

.menu-tabs__text {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}

/* card-list */
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--indent-standard);
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: calc(var(--max-width-container) / 4 - var(--indent-standard) * 3 / 4);
  min-height: 506px;
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-standard);
  cursor: pointer;
}

.card__picture-wrapper {
  max-height: calc(var(--max-width-container) / 4 - var(--indent-standard) * 3 / 4);
  overflow: hidden;
  border-radius: var(--radius-standard);
}

.card__picture {
  display: block;
  width: 100%;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.1;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--indent-gap);
  padding: var(--indent-half);
}

.card__title,
.card__price,
.card__button {
  margin: 0;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
}

.card__description {
  margin: 0;
  font-size: var(--font-size-regular);
  line-height: var(--line-height-standard);
  flex-grow: 1;
}

.card__button {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: left;
}

.card__button::after {
  content: "";
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.card:has(.card__button:focus-visible) {
  outline: 2px solid var(--border-inverse);
  outline-offset: 2px;
}

.card__button:focus-visible {
  outline: none;
}

@media (max-width: 767px) {
  .about__picture-wrapper--small-top,
  .about__picture-wrapper--small-bottom { display: none; }
}